.light #header-part {
  background-color: #eeeded;
}
.light #navbar * {
  color: black;
}
.light #navbar button {
  border: 1px solid black;
}
.light #navbar #dark-light {
  border: 1px solid transparent;
}
.light #header-part {
  background-color: rgb(19, 145, 206);
}
.light #header-part {
  background-image: linear-gradient(to right, #56b5fb 0 50%, #56b5fb 50% 100%);
}
.light .h1 {
  color: black;
}
.light .hltext p {
  color: black;
}
.light .home-left .nav-left-caption span {
  color: black;
}
.light #main {
  background-color: #eeeded;
}
.light #main * {
  color: black;
}
.light #main .new-era .era-but button {
  background-color: transparent;
  border: 1px solid black;
  transition: 0.3s ease-in-out;
}
.light #main .new-era .era-but button:hover {
  border: 1px solid black;
}
.light .last-part {
  background-color: #eeeded;
}
.light #one {
  border: 1px solid black;
  background: transparent;
}
